body {
  margin: 25px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p + p {
  margin-top: -1rem;
}

.logo {
  display: inline-flex;
  position: relative;
  align-items: center;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

.icon-logo {
  position: relative;
  width: 60px;
  height: 40px;
  margin: 15px;
  background: url(./logo.png);
  background-size: 60px 40px;
}

h1 {
  color: #993c9a;
  margin: 15px;
}

h2 {
  font-size: 3rem;
}

.breadcrumb-main {
  margin: 0 15px;
  --bs-breadcrumb-divider: '>';
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 15px;
  width: 18rem;
}

.card-body {
  justify-content: center;
}

.card-img-container {
  height: 200px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.card-img-top {
  height: 100%;
  width: auto;
}

.green {
  color: green;
}

.breadcrumb-item {
  font-size: 1.5rem;
}

.my-btn-home {
  padding: 0;
  border: none;
  font-size: 1.5rem;
  color: #6c757d;
  vertical-align: unset;
  text-decoration: none;
}

.my-btn-home:hover {
  color: #3b4044;
}

.my-btn-card {
  padding: 0;
  border: none;
  font-size: 1.5rem;
  color: #212529;
  vertical-align: unset;
  text-decoration: none;
}

.my-btn-card:hover {
  color: black;
  text-decoration: underline;
}

.flex {
  display: flex;
}

.al-i-base {
  align-items: baseline;
}

.m-1rem {
  margin: 1rem;
}

.m-lr-1rem {
  margin-right: 1rem;
  margin-left: 1rem;
}

.btn-plus {
  background-color: white;
  border: none;
}

.plus {
  font-size: 200px;
  text-align: center;
  margin-top: -100px;
  color: #a5b2be;
}

.btn-plus:hover > .plus {
  color: #6c757d;
}

.plus-add {
  text-align: center;
  margin-top: -60px;
  color: #6c757d;
}

.btn-plus:hover > .plus-add {
  color: #3b4044;
}

.appliance-img-container {
  display: flex;
  justify-content: center;
}

.appliance-img-container > img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
}

.new-appl-form {
  max-width: 400px;
}

.new-appliance-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.appliance-state {
  font-size: 1.1rem;
  margin: 1.5rem 1rem 0 1rem;
}

.f-s-1-1rem {
  font-size: 1.1rem;
}

.m-t-1rem {
  margin-top: 1rem;
}

.disp-i-b {
  display: inline-block;
}

.color-unset {
  color: unset;
}

.pad-rev {
  padding: revert;
}
